<nav class="navbar navbar-expand-lg sticky-top glass2 shadow-lg" data-bs-theme="dark" >
  <div class="container">
  <i class="fa-sharp fa-solid fa-globe fa-2x me-3" style="color: #ffffff;"></i>
    <%= link_to 'BreakNews', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <%= link_to 'Reportes', reports_path, class: 'nav-link' %>
      </li>
       <li class="nav-item">
      <%= link_to 'Comentarios', comments_path, class: 'nav-link' %>
      </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle <%= "text-warning" if user_signed_in? %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <% if user_signed_in?  %>
           <% if current_user.name  %>
           Bienvenid@ <%= current_user.name %>
           <% else %>
              Bienvenid@ <%= current_user.email %>
              <% end %>
           <% else %>
           Inicia sesión o registrate
           <% end %>
          </a>
          <ul class="dropdown-menu ms-auto">
          <% if user_signed_in? %>
            <li><%= button_to "Cerrar Sesión",  destroy_user_session_path, class:"dropdown-item", method: :delete %></li>
            <% else %>
            <li><%= link_to "Iniciar Sesión", new_user_session_path, class:"dropdown-item" %></li>
            <li><%= link_to "Registro", new_user_registration_path, class:"dropdown-item" %></li>
            <% end %>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
