<div class="row justify-content-center align-items-center mt-5">
  <div class="col-lg-5 col-md-8 col-sm-10">
    <div id="<%= dom_id(report) %>" class="glass p-3 rounded-3 shadow  mb-3">
      <div class="glow-on-hover">
        <p>
          <%= image_tag(report.image, style: "max-width: 100%;", class: "img-fluid rounded") %>
        </p>

        <p>
          <strong>Titulo:</strong>
          <%= report.title %>
        </p>

        <p>
          <strong>Descripcion:</strong>
          <%= report.description %>
        </p>

        <p>
          <strong>Usuario:</strong>
          <%= report.user.name %>
        </p>
      </div>
    </div>
  </div>
</div>
