
<div class="d-flex justify-content-between m-3" >
<h2 class="text-warning m-0" >Noticias</h2>
<%= link_to "Nuevo Articulo", new_report_path, class:"btn btn-danger glow-on-hover rounded-pill shadow", style:"background-color:#0dcaf0" %>
</div>

<div class="row">
  <% @reports.each do |report| %>
    <div class="col-12 col-md-6 col-lg-3 mb-3">
      <div class="card glow-on-hover bg-transparent border-0 shadow glass" style="min-height:100%">
        <div class="card-header bg-primary bg-opacity-50 bg-gradient text-light">
          <h2 class="card-title text-light"><%= report.title %></h2>
        </div>
        <div class="card-body glass">
          <div>
            <%= image_tag report.image, class:"rounded ", style: "width: 100%; min-height:100%;" %>
          </div>
          <p class="text-light"><%= report.description %></p>
        </div>
       <div class="card-scrollable-comments scrollbar-danger p-1 glass" style="max-height: 150px; overflow-y: auto;">
  <% report.comments.each do |comment| %>
    <div class="comment bg-warning bg-opacity-75 bg-gradient p-1 m-2 rounded shadow">
      <p class="comment-content text-dark"><%= comment.content %></p>
      <p class="comment-info text-secondary" style="font-size:12px;">
        Autor: <%= comment.user.name %>
        el <%= comment.created_at.strftime("%d/%m/%Y a las %H:%M") %>
      </p>
    </div>
  <% end %>
</div>
  <div class="card-comment-form glass">
  <%= form_with(model: [report, Comment.new], url: comments_path, local: true) do |form| %>
    <%= form.hidden_field :report_id, value: report.id %>
    <div class="field px-3 py-2">
      <%= form.text_area :content, rows: 2, style: "resize: none;", class: "form-control p-1 text-light bg-opacity-75 border-0 rounded bg-secondary", placeholder: "Escribe tu comentario" %>
    </div>
    <div class="text-center">
      <%= form.submit "Comentar", class:"btn btn-primary btn-sm rounded-pill shadow mb-2" %>
    </div>
  <% end %>
</div>
  <div class="card-footer bg-opacity-50 d-flex justify-content-between bg-primary bg-gradient text-warning"; style="font-size:12px">
    <%= time_ago_in_words(report.created_at, locale: :es) %>
    <%= link_to "Ver Articulo", report, class:"text-light" %>
      </div>
      </div>
    </div>
  <% end %>
</div>






