<div id="<%= dom_id(report) %>">
  <p>
    <%= image_tag report.image, style: "max-width: 300px;" %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= report.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= report.user_id %>
  </p>
</div>
